<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: management_header(~{::title}, ~{::link})}">
    <title>회원 관리</title>
    <link rel="stylesheet" th:href="@{/css/management/commonStyle.css}">
</head>
<body>
<nav th:replace="~{fragments/navbar :: management_navbar}"></nav>

<div class="main-content container-fluid mt-3">
    <h2 class="mb-3">회원 관리</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>로그인 ID</th>
            <th>닉네임</th>
            <th>등급</th>
            <th>활성화</th>
            <th>관리</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member : ${memberList}">
            <td th:text="${member.loginId}"></td>
            <td th:text="${member.nickName}"></td>
            <td th:text="${member.role.name}"></td>
            <td>
                <button th:classappend="${member.status.name() == 'ACTIVE' ? 'btn-success' : 'btn-secondary'}"
                        th:data-id="${member.id}"
                        th:data-nickName="${member.nickName}"
                        th:data-status="${member.status.name()}"
                        th:text="${member.status.name() == 'ACTIVE' ? '활성화 중' : '비활성화 중'}"
                        class="btn btn-sm member-status-btn">
                    활성화
                </button>
            </td>
            <td>
                <a th:href="@{/management/members/edit/{id}(id=${member.id})}" class="btn btn-primary btn-sm">수정</a>
                <a th:href="@{/management/members/delete/{id}(id=${member.id})}" class="btn btn-danger btn-sm">삭제</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<footer th:replace="~{fragments/footer :: management_footer}"></footer>

<script th:src="@{/js/management/members/memberList.js}"></script>

</body>
</html>
