@font-face {
    font-family: 'MobileGothicPOP';
    src: url('/font/ONE_Mobile_POP_OTF.otf') format('opentype'), url('/font/ONE_Mobile_POP.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
