body {
    background-size: cover; /* 이미지를 화면에 꽉 채우기 */
    background-attachment: fixed; /* 스크롤 시에도 배경 고정 */
    background-color: #F0F8FF; /* 밝은 파스텔톤 배경 */
    color: #000000; /* 텍스트 색상 어두운 톤 */
    scroll-behavior: smooth;
}

/* 섹션이 네비게이션 바에 가려지지 않도록 여백을 설정 */

/* 섹션 공통 스타일 */
/* section { */
    /* 네비게이션 바 높이에 맞춰 조정 (예: 80px) */
    /* scroll-margin-top: 80px;  */
/* } */

/*
h2.section-title {
    position: relative;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 2rem;
}
*/

/* 히어로 섹션 스타일 */
.hero-section {
    position: relative;

    width: 100%; /* 섹션이 화면 전체 너비를 사용 */
    height: 56.25vw; /* 16:9 비율 유지 */

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* 비디오가 화면 밖으로 나가는 것을 방지 */
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* 콘텐츠 뒤로 비디오 배경 배치 */
    overflow: hidden;
}

/* 비디오의 크기 맞추기 */
.video-background iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80vw; /* 너비를 기준으로 */
    height: 80vw; /* 16:9 비율 */
    transform: translate(-50%, -50%);
    min-width: 100vw;
    min-height: 56.25vw; /* 16:9 비율로 최소 높이 설정 */
    border: none;
}

/* 영상 위에 검은색 오버레이 추가 */
.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 50% 투명도 검정색 */
    z-index: 0; /* 콘텐츠 뒤에 배치 */
}

.hero-content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: #FFF;
}

.hero-content .dl-image {
    width: 180px;
}

/* 모바일 환경에서 글자 크기 축소 */
@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 2rem; /* 모바일에서 텍스트 크기 줄이기 */
    }
}

/* 공지사항 섹션 스타일 */
.notice-section {
    position: relative;

    background: url('/imgs/bkg/bkg1.png') no-repeat center center;
    background-size: cover;
    width: 100%; /* 섹션이 화면 전체 너비를 사용 */
    height: 56.25vw; /* 16:9 비율 유지 */
    padding: 5rem 0;
    display: flex; /* Flexbox 적용 */
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: center;
}

.notice-content {
    width: 100%;
    max-width: 1500px;
    height: 40vw;
    margin: 0 auto;
    /* background-color: #D3D3D3; */ /* test bkg */

    background-color: #FFFFF0; /* 아이보리 배경 */
    border: 5px solid #2E8B57; /* 초록 테두리 */
    border-radius: 15px; /* 둥근 모서리 */
}

.notice-content-col {
    width: 45%;
    /* background-color: #45A049; */ /* test bkg */
}

.notice-content .notice-carousel {
    height: 80%; /* 캐러셀 높이를 전체의 80%로 설정 */
    display: flex;
    justify-content: center;
    align-items: center;

    /* width: 80%; */
    margin: 0;
}

.notice-carousel .carousel-inner {
    height: 100%;
    display: flex;
    align-items: center;
}

/* 슬라이드 이미지 크기 일관성 유지 */
.notice-carousel .carousel-item {
    height: 100%;
}

.notice-carousel .carousel-item a {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 텍스트 색상을 부모 요소의 색상과 동일하게 설정 */
}

.notice-carousel .carousel-item a:hover {
    color: inherit; /* 링크 위로 마우스를 올려도 색상이 변하지 않도록 설정 */
    text-decoration: none; /* 호버 시에도 밑줄 제거 */
}

.carousel-item .notice-image-container {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* 이미지가 컨테이너를 벗어나지 않도록 처리 */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-item .notice-image-container img {
    aspect-ratio: 16 / 9; /* 고정된 비율 설정 (예: 16:9) */
    display: flex;
    justify-content: center;
    align-items: center;

    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.notice-content .carousel-item .slide-text {
    width: 100%;
    max-height: 50%;
    text-align: start;
}

.slide-text .slide-title {
    font-size: 1.3vw;
    line-height: 1.2;
}

.slide-text .slide-date {
    font-size: 1.2vw;
    color: #6c757d; /* Bootstrap의 text-muted 색상 */
}

/* 공지사항 미디어 */
.notice-media {
    height: 30%;
    max-width: 100%;
    /* background-color: #333; */ /* test bkg */
}

.notice-media .media-icon {
    height: 100%;
}

.notice-media .media-icon img {
    height: 80%;
    object-fit: contain;
}

/* 공식 x, 라운지, ... */
.notice-media .media-text {
    height: 15%
    text-decoration: none;
    color: black;
    font-size: 1vw;
}

.notice-img-container {
    transition: transform 0.5s ease;
}

.notice-img-container:hover {
    transform: scale(1.05); /* 마우스 오버 시 확대 */
}

.notice-button {
    font-size: clamp(0.5rem, 1vw, 2rem);
}

/* 공지사항 섹션 스타일 끝 */

/* 세계관 섹션 스타일 */
.worldview-section {
    background: url('/imgs/bkg/bkg2.webp') no-repeat center center;
    background-size: cover;
    width: 100%; /* 섹션이 화면 전체 너비를 사용 */
    height: 56.25vw; /* 16:9 비율 유지 */
    padding: 5rem 0;

    display: flex;
    align-items: center;
}

.worldview-content {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 세계관 제목 */
.section-title {
    position: absolute;
    top: 40px; /* 기존보다 위쪽으로 이동 */
    left: 0; /* 왼쪽 끝에 붙이기 */

    font-size: 1.8rem; /* 기본 크기 */
    color: #FFFFF0; /* 텍스트 색상 */

    background-color: #C19A6B; /* 초록 배경 */
    padding: 10px 20px; /* 내부 여백 */
    border-radius: 0 10px 10px 0; /* 왼쪽은 직각, 오른쪽만 둥글게 */
}

/* 새로운 컨테이너 스타일 (PC, 태블릿) */
.video-wrapper {
    width: 80%; /* 화면 너비의 80% 사용 */
    max-width: 900px; /* 최대 크기 제한 */
    padding: 15px; /* 내부 여백 */

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #FFFFF0; /* 아이보리 배경 */
    border: 5px solid #2E8B57; /* 초록 테두리 */
    border-radius: 20px; /* 둥근 모서리 */
}

/* 유튜브 비디오 컨테이너 */
.video-container {
    width: 95%; /* video-wrapper보다 약간 작게 조정 */
    max-width: 850px;
}

/* 세계관 섹션 스타일 끝 */


/* 캐릭터 소개 섹션 스타일 */
.characters-section {
    position: relative;

    background: url('/imgs/main/cont04-bg.jpg') no-repeat center center;
    background-size: cover;''
    width: 100%; /* 섹션이 화면 전체 너비를 사용 */
    height: 56.25vw; /* 16:9 비율 유지 */
    padding: 5rem 0;

    display: flex;
    align-items: center;
}

/* 캐릭터 섹션 컨텐츠 */
.characters-content {
    width: 100%;
    height: 45vw;

    margin: 0 auto; /* 중앙 정렬 */
}

/* 양쪽 컨텐츠 영역 */
.characters-content .characters-content-col {
    width: 45%;
    height: 100%;
    margin-bottom: 3rem;
}

/* 이미지 컨테이너 스타일 */
.characters-content .image-container {
    height: 100%;
}

/* 캐릭터 섹션 좌측 이미지 */
.character-img {
    width: 100%;         /* 이미지가 컨테이너를 채움 */
    max-height: 80%;
    object-fit: contain;
    pointer-events: none;
}

/* 캐릭터 이미지 애니메이션 */
.character-img,
.character-text-img {
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
}

.fade-out {
    opacity: 0;
}

.character-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* 왼쪽 버튼 위치 */
.character-btn-prev {
    left: 10px; /* 이미지 왼쪽 바깥 */
}

/* 오른쪽 버튼 위치 */
.character-btn-next {
    right: 10px; /* 이미지 오른쪽 바깥 */
}


/* 캐릭터 소개 섹션 스타일 끝 */

/* 포토존 섹션 스타일 */
.photozone-section {
    background: url('/imgs/bkg/bkg4.png') no-repeat center center;
    background-size: cover;
    width: 100%; /* 섹션이 화면 전체 너비를 사용 */
    height: 56.25vw; /* 16:9 비율 유지 */
    padding: 5rem 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.photozone-content {
    width: 80%;
    height: 40vw;
    background-color: #D3D3D3;
}

.photozone-tab {
    width: 30%;
    height: 70%;
    align-items: start;
    /* background-color: #45A049; */
}

.photozone-tab-content {
    width: 70%;
    height: 70%;
    /* background-color: #4682B4; */
}

.photozone-content .carousel-image-container {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9; /* 고정된 16:9 비율 */
    overflow: hidden; /* 이미지가 컨테이너를 벗어나지 않도록 */
    border-radius: 10px; /* 둥근 모서리 */
}

.photozone-content .carousel-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 비율에 맞춰 잘라내기 */
}

.photozone-text {
    font-size: 1.5vw;
}

/* 더보기 버튼 (공지사항, 게임소개, 캐릭터 소개별) */
.btn-custom {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    /* text-decoration: none; */
}

.btn-custom:hover {
    background-color: #45A049;
}

/* 리모컨 섹션 스타일 */
.remote-control {
    position: fixed;
    top: 150px;
    right: 20px;
    z-index: 1000;
    background-color: #2C2C2C;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.remote-control h4 {
    margin-bottom: 15px;
    color: #4CAF50;
}

.remote-control .btn-custom {
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

/* 모바일 화면 */
@media (max-width: 768px) {

    .hero-section {
        height: 80vh; /* 모바일 화면 높이에 맞춤 */
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden; /* 넘치는 부분을 숨김 */
    }

    .video-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .video-background iframe {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 120vw; /* 더 크게 설정하여 꽉 차도록 조정 */
        height: 120vh;
        transform: translate(-50%, -50%); /* 가운데 정렬 */
        object-fit: cover; /* 비율을 유지하면서 꽉 차도록 설정 */
    }

    /* 히어로 섹션 내부 텍스트 크기 조정 */
    .hero-content h1 {
        font-size: 1.5rem; /* 기존 2rem에서 더 축소 */
    }

    .hero-content p {
        font-size: 0.8rem; /* 기존 대비 줄여서 가독성 유지 */
    }

    /* 다운로드 버튼을 세로 배치 */
    .hero-content .download-btn-container {
        flex-direction: column; /* 버튼을 세로 정렬 */
        align-items: center; /* 중앙 정렬 */
        gap: 10px; /* 버튼 사이 여백 */
    }

    /* 다운로드 버튼 크기 조정 */
    .hero-content .dl-image {
        width: 150px; /* 기존 180px → 150px로 축소 */
    }

    /* 공지사항 섹션 크기 조정 */
    .notice-section {
        height: auto; /* 모바일 화면에서 높이를 화면 높이와 맞춤 */
        padding: 2rem 0; /* 여백 줄이기 */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* 공지사항 컨텐츠 영역 */
    .notice-content {
        display: flex;
        flex-direction: column; /* 모바일에서는 세로 배치 */
        height: 90%; /* 높이 자동 조정 */
        gap: 15px; /* 요소 사이 간격 추가 */
    }

    /* 공지사항 제목 크기 및 정렬 */
    .notice-section h2 {
        font-size: 1.5rem; /* 제목 크기 축소 */
        text-align: left; /* 왼쪽 정렬 */
        padding-left: 1rem;
    }

    .notice-content-col {
        width: 100%;
    }

    /* 슬라이드 크기 조정 */
    .notice-carousel {
        width: 100%; /* 전체 너비 */
        max-width: 400px; /* 최대 너비 설정 */
        margin: 0 auto; /* 중앙 정렬 */
    }

    /* 슬라이드 이미지 크기 조정 */
    .notice-image-container img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .slide-text .slide-title {
        font-size: 0.8rem;
    }

    .slide-text .slide-date {
        font-size: 0.6rem
    }

    .notice-media .media-text {
        font-size: 0.8rem; /* 기존 1vw → 0.8rem으로 조정 */
    }

    .notice-button {
        font-size: 0.8rem; /* 기존보다 더 작게 조정 */
        padding: 8px 16px; /* 버튼 내부 여백 축소 */
    }


    .worldview-section {
        height: 100vh; /* 모바일 화면 높이에 맞게 설정 */
        padding: 0; /* 패딩 제거 */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .worldview-content {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 1rem; /* 좌우 여백 추가 */
    }

    .section-title {
        font-size: 1.3rem; /* 모바일에서 더 작은 크기 */
        top: 30px; /* 더 위로 이동 */
        padding: 8px 16px; /* 내부 여백 조정 */
    }

    /* 새로운 컨테이너 스타일 */
    .video-wrapper {
        width: 95%; /* 유튜브 영상보다 살짝 넓게 설정 */
        max-width: 650px; /* 최대 크기 제한 */
        padding: 10px; /* 내부 여백 추가 */

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: #FFFFF0; /* 아이보리 배경 */
        border: 5px solid #2E8B57; /* 초록 테두리 */
        border-radius: 15px; /* 둥근 모서리 */
    }

    .video-container {
        width: 90%; /* 기존보다 약간 작게 조정하여 감싸는 효과 극대화 */
        max-width: 600px;
    }


    /* 캐릭터 섹션 높이 자동 조정 */
    .characters-section {
        background-image: url('/imgs/main/cont04-m-bg.jpg'); /* 모바일 전용 배경 */
        background-size: cover;
        /* background-position: center; */
        background-repeat: no-repeat;

        width: 100vw; /* 화면 너비 기준 */
        height: calc(100vw * 2.03); /* 비율 유지 */
        padding: 15% 0;
        display: flex;

        flex-direction: column; /* 모바일에서 세로 배치 */
        align-items: center;
        text-align: center;
    }

    /* 캐릭터 컨텐츠 컬럼 - 세로 정렬 */
    .characters-content {
        height: 100%;
        width: 100%
        display: flex;
        flex-direction: column; /* 데스크톱 좌우 배치를 모바일에서 세로 배치로 변경 */
        align-items: center;
        justify-content: center;
    }

    .characters-content .characters-content-col {
        width: 100%;
        height: 50%;
        margin: 0 auto;
    }

    .image-container {
        height: 100%;
        width: auto;
    }

    /* 캐릭터 이미지 크기 조정 */
    .image-container .character-img {
        height: auto;
        width: 90%;
        object-fit: contain;
        transform: scale(1.2); /* 이미지 자체를 확대 */
        margin-top: 20%;
    }

    /* 캐릭터 텍스트 이미지 크기 조정 */
    .character-text-img {
        max-width: 80%;
        height: auto;
    }

    /* 좌우 캐릭터 변경 버튼 - 모바일에서 아래로 배치 */
    .character-btn {
        position: relative;
        top: auto;
        bottom: 0;
        padding: 0;
        margin-top: 15px;
        width: 40px;
        height: 40px;
    }


}

