/* 상단 네비게이션 스타일 */
.navbar {
    min-height: 4vh;
    height: auto;
    display: flex;
    justify-content: space-between; /* 양쪽 끝으로 로고와 햄버거 버튼 배치 */
    padding: 0; /* 패딩 제거 */
    /* background-color: #4682B4; */
    background-color: #3A5FCD;
}

.navbar-toggler {
    padding: 0; /* 필요 시 패딩 제거 */
}

.navbar-toggler-icon {
    padding: 0;
}

.navbar-brand img {
    max-height: 6vh; /* 최대 높이 제한 */
    height: 100%; /* 높이를 자동으로 조절 */
    object-fit: contain;
}

/* navbar-nav에 패딩과 마진을 제거 */
.navbar-nav {
    margin-left: 0; /* 왼쪽 여백을 0으로 설정 */
    padding-left: 0; /* 패딩 제거 */
}

.nav-link {
    /* color: #FFFFFF; */
    color: #E0E0E0; /* 기존 흰색보다 부드러운 느낌 */
    font-size: 1.25rem; /* 기존보다 글씨 크기 키움 */
}

.nav-link:hover {
    color: #FFD700; /* 주황색보다 부드럽게 강조되는 금색 */
    /* color: #FF9800; */
}

#languageSelect {
    background-color: #3A5FCD;
    color: #E0E0E0;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

/* 아이콘 스타일 */
.lang-icon {
    font-size: 1.2rem;
    color: #E0E0E0;
}

/* 기본 select 숨기기 */
/* 언어 선택 드롭다운 스타일 */
/*
#languageSelect {
    background-color: #3A5FCD;
    color: #E0E0E0;
    border: 1px solid #E0E0E0;
    padding: 8px 12px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    appearance: none;
}
*/

/* 드롭다운 클릭 시 펼쳐지는 옵션 스타일 */
/*
#languageSelect option {
    background-color: #3A5FCD;
    color: #E0E0E0;
    padding: 10px;
}
*/

/* 각 옵션 hover 스타일 */
/*
#languageSelect option:hover {
    background-color: #5B9BD5;
    color: #FFFFFF;
}
*/


.navbar .language-select {
    position: relative;
    margin-right: 15px;
}

.navbar .btn-download {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
}

.navbar .btn-download:hover {
    background-color: #45A049;
}

/* 커뮤니티 아이콘 스타일 */
.community-icons img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    transition: transform 0.3s;
    /*background-color: #333;*/
}

.community-icons img:hover {
    transform: scale(1.2);
}
