/* 상단 네비게이션 스타일 */
.navbar {
    height: 6vh;
    display: flex;
    align-items: center; /* 모든 자식 요소를 수직 중앙 정렬 */
    justify-content: space-between; /* 양쪽 끝으로 로고와 햄버거 버튼 배치 */
    padding: 0; /* 패딩 제거 */
    background-color: #4682B4;
}

.navbar-toggler {
    padding: 0; /* 필요 시 패딩 제거 */
}

.navbar-toggler-icon {
    padding: 0;
}

.navbar-brand img {
    max-height: 6vh; /* 최대 높이 제한 */
    height: 100%; /* 높이를 자동으로 조절 */
    object-fit: contain;
}

/* navbar-nav에 패딩과 마진을 제거 */
.navbar-nav {
    margin-left: 0; /* 왼쪽 여백을 0으로 설정 */
    padding-left: 0; /* 패딩 제거 */
}

.nav-link {
    color: #FFFFFF;
    font-size: 1.25rem; /* 기존보다 글씨 크기 키움 */
}

.nav-text {
    /* font-size: 1.3vw; */
    font-size: min(1.3vw, 20px);
}

.nav-link:hover {
    color: #FF9800;
}

.navbar .language-select {
    position: relative;
    margin-right: 15px;
}

.navbar .language-select .dropdown-menu {
    background-color: #1E1E1E;
    border: none;
}

.navbar .language-select .dropdown-menu a {
    color: white;
    padding: 10px 15px;
    display: block;
}

.navbar .language-select .dropdown-menu a:hover {
    background-color: #333;
}

.navbar .btn-download {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
}

.navbar .btn-download:hover {
    background-color: #45A049;
}

/* 커뮤니티 아이콘 스타일 */
.community-icons img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    transition: transform 0.3s;
    background-color: #333;
}

.community-icons img:hover {
    transform: scale(1.2);
}
