html, body {
    background-color: #F0F8FF;
    font-family: 'Arial', sans-serif;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.main-content {
    flex-grow: 1;
}

.field-error {
    color: red;
}
