<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: management_header(~{::title}, ~{::link})}">
    <title>공지사항 카테고리 수정</title>
    <link rel="stylesheet" th:href="@{/css/management/commonStyle.css}">
    <link rel="stylesheet" th:href="@{/css/management/noticeForm.css}">
</head>

<body>
<!--/*[[ 상단 네비게이션 바 ]]*/-->
<nav th:replace="~{fragments/navbar :: management_navbar}">상단 네비게이션 바</nav>

<div class="container mt-5 main-content">

    <div class="form-section">

        <h2 class="form-title">공지사항 카테고리 수정</h2>

        <form th:action="@{|/management/notices/categories/${categoryId}/edit|}" method="post">

            <div class="info-group mb-4">
                <div class="info-title" aria-expanded="true">
                    <span>공지사항 카테고리 정보</span>
                </div>

                <div th:object="${categoryForm}" id="skinSection" class="row mt-3">

                    <!--/*[[ 카테고리 이름 ]]*/-->
                    <div class="mb-4">
                        <label for="categoryName" class="form-label">카테고리 이름</label>
                        <input type="text" th:field="*{name}" th:errorclass="field-error" class="form-control"
                               id="categoryName" placeholder="카테고리 이름을 입력하세요">
                        <div class="field-error" th:errors="*{name}"></div>
                    </div>

                    <!--/*[[ 공개/비공개 ]]*/-->
                    <div class="mb-4">
                        <label for="status" class="form-label">상태</label>
                        <select id="status" th:field="*{status}" class="form-control">
                            <option th:value="'PUBLIC'" th:text="공개"></option>
                            <option th:value="'PRIVATE'" th:text="비공개"></option>
                        </select>
                        <div class="field-error" th:errors="*{status}"></div>
                    </div>

                </div>

            </div>

            <!--/*[[ 폼 제출 버튼 ]]*/-->
            <div class="button-group d-flex justify-content-between mt-4">

                <!--/*[[ 왼쪽 버튼 그룹 ]]*/-->
                <div class="d-flex gap-2">
                    <!--/*[[ 취소 버튼 ]]*/-->
                    <button type="button" class="btn btn-danger" id="cancelBtn">취소</button>
                    <!--/*[[ 저장 버튼 ]]*/-->
                    <button type="submit" name="action" value="save" class="btn btn-secondary">임시 저장</button>
                </div>

                <!--/*[[ 오른쪽 버튼 그룹 ]]*/-->
                <div class="d-flex gap-2">
                    <!--/*[[ 다음 버튼 ]]*/-->
                    <button type="button" class="btn btn-primary" id="completeBtn">공지사항 카테고리 수정하기!</button>
                </div>

            </div>

        </form>

    </div>

</div>

<!--/*[[ Footer ]]*/-->
<footer th:replace="~{fragments/footer :: management_footer}"></footer>

<script th:src="@{/js/management/noticeCategoryForm.js}"></script>

</body>
</html>
