<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/mg_header :: common_mg_header(~{::title}, ~{::link})}">
    <title>공지사항 수정</title>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/management/commonStyle.css}">
    <link rel="stylesheet" th:href="@{/css/management/noticeForm.css}">
    <!-- 커스텀 css -->
</head>

<body>

<!-- 상단 네비게이션 바 -->
<nav th:replace="~{fragments/mg_navbar :: common_mg_navbar}">
    상단 네비게이션 바 영역
</nav>

<div class="container mt-4 main-content">
    <h1>공지사항 수정</h1>

    <!-- 공지사항 수정 폼 -->
    <form th:action="@{/management/notices/{id}/edit (id=${noticeId})}" th:object="${noticeForm}" method="post" enctype="multipart/form-data">
        <!-- 제목 입력 -->
        <div class="mb-3">
            <label for="title" class="form-label">제목</label>
            <input th:field="*{title}" type="text" id="title" name="title" class="form-control" required>
        </div>

        <!-- 카테고리 선택 -->
        <div class="mb-3">
            <label for="category" class="form-label">카테고리</label>
            <select th:field="*{{category}}" id="category" name="category" class="form-select" required>
                <option value="NOTICE">공지사항</option>
                <option value="EVENT">이벤트</option>
                <option value="UPDATE">업데이트</option>
                <option value="DEV">개발자 노트</option>
            </select>
        </div>

        <!-- Quill 에디터 -->
        <div class="mb-3">
            <label for="editor" class="form-label">내용</label>
            <div id="editor"></div>
            <textarea th:field="*{content}" id="content" name="content" class="d-none"></textarea>
        </div>

        <!-- 버튼 영역 -->
        <button type="submit" class="btn btn-primary">수정</button>
        <a th:href="@{/management/notices}" class="btn btn-secondary button-cancel">취소</a>
    </form>
</div>

<!-- 하단 푸터 -->
<footer th:replace="~{fragments/mg_footer :: common_mg_footer}">
    하단 푸터 영역
</footer>

<!-- Quill 에디터 스크립트 -->
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>

<script th:src="@{/js/management/noticeEditForm.js}"></script>

</body>
</html>
