<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: management_header(~{::title}, ~{::link})}">
    <title>공지사항 관리</title>
    <link rel="stylesheet" th:href="@{/css/management/commonStyle.css}">
    <link rel="stylesheet" th:href="@{/css/management/noticeList.css}">
    <!-- 커스텀 css -->
</head>

<body>

<!-- TODO - 공지사항 검색 기능 활성화 필요 -->

<!-- 상단 네비게이션 바 -->
<nav th:replace="~{fragments/navbar :: management_navbar}">
    상단 네비게이션 바 영역
</nav>

<div class="container mt-4 main-content">
    <h1 class="mb-4">공지사항 관리</h1>

    <!-- 탭 네비게이션 -->
    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
            <a class="nav-link" th:classappend="${curCategory == null} ? 'active'" th:href="@{/management/notices}">전체</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${curCategory?.name() == 'notice'} ? 'active'" th:href="@{/management/notices?category=notice}">공지사항</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${curCategory?.name() == 'event'} ? 'active'" th:href="@{/management/notices?category=event}">이벤트</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${curCategory?.name() == 'update'} ? 'active'" th:href="@{/management/notices?category=update}">업데이트</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${curCategory?.name() == 'dev'} ? 'active'" th:href="@{/management/notices?category=dev}">개발자노트</a>
        </li>
    </ul>

    <div class="d-flex justify-content-between mb-3">
        <a th:href="@{/management/notices/new}">
            <button class="btn btn-primary">공지사항 작성</button>
        </a>
        <form class="d-flex w-25" method="get" th:action="@{/management/notices}">
            <input type="text" name="query" class="form-control form-control-sm" placeholder="검색할 제목을 입력하세요" th:value="${query}">
            <button class="btn btn-sm btn-primary ms-2" type="submit">검색</button>
        </form>
<!--        <input type="text" class="form-control w-25" placeholder="검색">-->
    </div>

    <!-- 공지사항 목록 테이블 -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col1">#</th>
                <th class="col2">제목</th>
                <th class="col3">작성자</th>
                <th class="col4">작성일</th>
                <th class="col5">카테고리</th>
                <th class="col6">상태</th>
                <th class="col7">조작</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="notice, stat : ${noticeList}">
                <td class="col1" th:text="${stat.count}" ></td> <!-- 페이징 도입 시 페이징 카운트와 조합해야 함 -->
                <td class="col2" th:text="${notice.title}"></td>
                <td class="col3" th:text="${notice.member.nickName}"></td>
                <td class="col4" th:text="${#temporals.format(notice.date, 'yyyy-MM-dd')}"></td>
                <th:block th:switch="${{notice.category}}">
                    <td class="col5" th:case="'NOTICE'" th:text="공지사항"></td>
                    <td class="col5" th:case="'EVENT'" th:text="이벤트"></td>
                    <td class="col5" th:case="'UPDATE'" th:text="업데이트"></td>
                    <td class="col5" th:case="'DEV'" th:text="개발자노트"></td>
                    <td class="col5" th:case="*" th:text="해당없음"></td> <!-- 있어서는 안 될 분류이긴 함 -->
                </th:block>
                <td class="col6">
                    <button
                            class="btn btn-sm btn-toggle-status"
                            th:data-id="${notice.id}"
                            th:data-status="${notice.status}"
                            th:data-title="${notice.title}"
                            th:classappend="${notice.status.name() == 'PUBLIC'} ? 'btn-success' : 'btn-secondary'"
                            th:text="${notice.status.name() == 'PUBLIC'} ? '공개 중' : '비공개 중'">
                    </button>
                </td>
                <td class="col7">
                    <a th:href="@{/management/notices/{id}/edit (id=${notice.id})}"> <button class="btn btn-sm btn-update">수정</button> </a>
                    <button
                            class="btn btn-sm btn-danger btn-delete"
                            th:data-id="${notice.id}"
                            th:data-title="${notice.title}">
                        삭제
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- 페이징 UI -->
    <div>
<!--        <p>현재 페이지: <span th:text="${page.number + 1}"></span> / <span th:text="${page.totalPages}"></span></p>-->

        <!-- Bootstrap Pagination -->
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <!-- 이전 버튼 -->
                <li class="page-item" th:classappend="${!page.hasPrevious()} ? 'disabled'">
                    <a class="page-link" th:href="@{/management/notices(page=${(page.number+1) - 1})}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <!-- 페이지 번호 버튼 -->
                <li class="page-item" th:each="pageNum : ${#numbers.sequence(startPage, endPage)}"
                    th:classappend="${(pageNum-1) == page.number} ? 'active' : ''">
                    <a class="page-link" th:href="@{/management/notices(page=${pageNum})}" th:text="${pageNum}"></a>
                </li>

                <!-- 다음 버튼 -->
                <li class="page-item" th:classappend="${!page.hasNext()} ? 'disabled'">
                    <a class="page-link" th:href="@{/management/notices(page=${(page.number+1) + 1})}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>


</div>

<script th:src="@{/js/management/noticeList.js}"></script>

<!-- 하단 푸터 -->
<footer th:replace="~{fragments/footer :: management_footer}">
    하단 푸터 영역
</footer>

</body>
</html>
