<!DOCTYPE html>
<!-- v3 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: management_header(~{::title}, ~{::link})}">
    <title>공지사항 작성</title>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/management/commonStyle.css}">
    <link rel="stylesheet" th:href="@{/css/management/noticeForm.css}">
    <!-- 커스텀 css -->
</head>

<body>

<!-- 상단 네비게이션 바 -->
<nav th:replace="~{fragments/navbar :: management_navbar}">
    상단 네비게이션 바 영역
</nav>

<div class="container mt-4 main-content">
    <h1>공지사항 작성</h1>
    <form th:action="@{/management/notices/new}" th:object="${noticeForm}" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">제목</label>
            <input th:field="*{title}" type="text" id="title" name="title" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">카테고리</label>
            <select th:field="*{category}" id="category" name="category" class="form-select" required>
                <option value="notice">공지사항</option>
                <option value="event">이벤트</option>
                <option value="update">업데이트</option>
                <option value="dev">개발자 노트</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="editor" class="form-label">내용</label>
            <div id="editor"></div>
            <textarea th:field="*{content}" id="content" name="content" class="d-none"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">등록</button>
        <a th:href="@{/management/notices}" class="btn btn-secondary button-cancel">취소</a>
  </form>
</div>

<!-- 하단 푸터 -->
<footer th:replace="~{fragments/footer :: management_footer}">
    하단 푸터 영역
</footer>

<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>

<script th:src="@{/js/management/noticeAddForm.js}"></script>

</body>

</html>
