<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: management_header(~{::title}, ~{::link})}">
    <title>카드 추가</title>
    <link rel="stylesheet" th:href="@{/css/management/commonStyle.css}">
    <link rel="stylesheet" th:href="@{/css/management/cards/cardAddForm.css}">
</head>

<body>
<!-- 상단 네비게이션 바 -->
<nav th:replace="~{fragments/navbar :: management_navbar}">상단 네비게이션 바</nav>

<div class="container mt-5 main-content">

    <div class="form-section">

        <h2 class="form-title">신규 카드 추가</h2>
        <form th:action="@{/management/cards/spell/new}" method="post" enctype="multipart/form-data">

            <div class="info-group mb-4">
                <div class="info-title" aria-expanded="true">
                    <span>카드 정보</span>
                </div>

                <div th:object="${cardForm}" id="cardSection">
                    <hr>

                    <!-- 1. 카드 종류, 등급, 비용 -->
                    <div class="row mb-3">
                        <!-- 카드 종류 -->
                        <div class="col-md-4 mb-3">
                            <label for="cardType" class="form-label">카드 종류</label>
                            <select th:field="*{{cardType}}" class="form-select" id="cardType">
                                <option value="SPELL">스펠 카드</option>
                                <option value="ARTIFACT">아티팩트 카드</option>
                            </select>
                        </div>

                        <!-- 카드 등급 -->
                        <div class="col-md-4 mb-3">
                            <label for="grade" class="form-label">카드 등급</label>
                            <select th:field="*{grade}" id="grade" class="form-select">
                                <option value="NORMAL">일반</option>
                                <option value="ADVANCED">고급</option>
                                <option value="RARE">희귀</option>
                                <option value="LEGENDARY">전설</option>
                            </select>
                        </div>

                        <!-- 카드 비용 -->
                        <div class="col-md-4 mb-3">
                            <label for="cost" class="form-label">카드 비용</label>
                            <input th:field="*{cost}" id="cost" type="number" class="form-control" placeholder="카드 비용을 입력하세요">
                        </div>
                    </div>

                    <!-- 2. 카드 이미지, 이름, 효과 입력창 -->
                    <div class="row align-items-center mb-3">

                        <!-- 이미지 업로드 박스 -->
                        <div class="col-md-3 text-center">
                            <label for="image" class="form-label">카드 이미지</label>
                            <div class="image-upload-wrapper">
                                <img id="imagePreView" th:src="${cardImageUrl}"
                                     alt="카드 이미지 미리보기" class="img-thumbnail">
                                <input th:field="*{image}" type="file" id="image" name="image" class="form-control d-none"
                                       accept="image/*" onchange="previewImage(this)">
                            </div>
                        </div>

                        <!-- 카드 이름 및 효과 입력 -->
                        <div class="col-md-9">
                            <!-- 카드 이름 입력 -->
                            <div class="mb-3">
                                <label for="name" class="form-label">카드 이름</label>
                                <input th:field="*{name}" th:errorclass="field-error" type="text" id="name" name="name" class="form-control" placeholder="카드 이름을 입력하세요">
                            </div>

                            <!-- 카드 효과 입력 -->
                            <div class="mb-3">
                                <label for="description" class="form-label">카드 효과</label>
                                <textarea th:field="*{description}" th:errorclass="field-error" id="description" name="description" class="form-control auto-resize" placeholder="카드 효과를 입력하세요"></textarea>
                            </div>
                        </div>

                    </div>

                    <!-- 3. 카드 이야기, 특성 -->
                    <div class="row mb-3">
                        <!-- 카드 이야기 -->
                        <div class="col-md-6 mb-3">
                            <label for="story" class="form-label">카드 이야기</label>
                            <textarea th:field="*{story}" id="story" class="form-control" placeholder="카드 이야기를 입력하세요"></textarea>
                        </div>

                        <!-- 카드 속성 -->
                        <div id="card-attributes-container" class="col-md-6 mb-3">
                            <label class="form-label">카드 속성</label>
                            <div th:each="attribute, stat : *{cardAttributes}" class="d-flex align-items-center mb-2 attribute-input-container">
                                <input type="text" th:field="*{cardAttributes[__${stat.index}__].attrName}" name="attribute-name" class="form-control me-2 attribute-name" placeholder="특성 이름">
                                <input type="text" th:field="*{cardAttributes[__${stat.index}__].attrValue}" name="attribute-value" class="form-control me-2 attribute-value" placeholder="특성 수치">
                                <button type="button" class="btn btn-success btn-add-card-attribute">+</button>
                                <button type="button" class="btn btn-danger btn-remove-card-attribute">-</button>
                            </div>
                        </div>
                    </div>

                    <!-- 4. 애착 사도 정보 (선택사항) -->
                    <div id="attachmentSection" class="info-subgroup optional-info mb-3">

                        <!-- 애착 사도, 애착 아티팩트 스킬 이름 -->
                        <div class="row mb-3">
                            <!-- 애착 사도 -->
                            <div class="col-md-4 mb-3">
                                <label for="attachmentCh" class="form-label">애착 사도</label>
                                <input th:field="*{characterId}" id="attachmentCh" type="text"
                                       class="form-control" placeholder="애착 사도를 입력하세요">
                            </div>

                            <!-- 애착 아티팩트 스킬 이름 -->
                            <div class="col-md-8 mb-3">
                                <label for="attachmentSkillName" class="form-label">애착 아티팩트 스킬 이름</label>
                                <input th:field="*{attachmentSkillName}" id="attachmentSkillName" type="text"
                                       class="form-control" placeholder="스킬 이름을 입력하세요">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <!-- 애착 아티팩트 스킬 설명 -->
                            <div class="col-md-12 mb-3">
                                <label for="attachmentSkillDescription" class="form-label">애착 아티팩트 스킬 설명</label>
                                <textarea th:field="*{attachmentSkillDescription}" id="attachmentSkillDescription"
                                          class="form-control" rows="3" placeholder="스킬 설명을 입력하세요"></textarea>
                            </div>
                        </div>

<!--                        <div class="row mb-3">-->
<!--                            &lt;!&ndash; 애착 아티팩트 스킬 특성 &ndash;&gt;-->
<!--                            <div class="col-md-12 mb-3">-->
<!--                                <label for="attachmentSkillAttributes" class="form-label">애착 아티팩트 스킬 특성</label>-->
<!--                                <textarea th:field="*{attachmentSkillAttributes}" id="attachmentSkillAttributes"-->
<!--                                          class="form-control" rows="2" placeholder="스킬 특성을 입력하세요"></textarea>-->
<!--                            </div>-->
<!--                        </div>-->

                        <!-- 애착 아티팩트 스킬 특성 -->
                        <div id="attachment-attributes-container" class="col-md-6 mb-3">
                            <label class="form-label">애착 아티팩트 스킬 속성</label>
                            <div th:each="attribute, stat : *{attachmentAttributes}" class="d-flex align-items-center mb-2 attribute-input-container">
                                <input type="text" th:field="*{attachmentAttributes[__${stat.index}__].attrName}" name="attribute-name" class="form-control me-2 attribute-name" placeholder="특성 이름">
                                <input type="text" th:field="*{attachmentAttributes[__${stat.index}__].attrValue}" name="attribute-value" class="form-control me-2 attribute-value" placeholder="특성 수치">
                                <button type="button" class="btn btn-success btn-add-attachment-attribute">+</button>
                                <button type="button" class="btn btn-danger btn-remove-attachment-attribute">-</button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <!-- 폼 제출 버튼 -->
            <div class="button-group d-flex justify-content-between mt-4">

                <!-- 왼쪽 버튼 그룹 -->
                <div class="d-flex gap-2">
                    <!-- 취소 버튼 -->
                    <button type="submit" name="action" value="cancel" class="btn btn-danger" onclick="confirmCancel()">취소</button>
                    <!-- 저장 버튼 -->
                    <button type="submit" name="action" value="save" class="btn btn-secondary">임시 저장</button>
                </div>

                <!-- 오른쪽 버튼 그룹 -->
                <div class="d-flex gap-2">
                    <!-- 다음 버튼 -->
                    <button type="submit" name="action" value="next" class="btn btn-primary">신규 카드 생성</button>
                </div>

            </div>

        </form>

    </div>

</div>

<!-- Footer -->
<footer th:replace="~{fragments/footer :: management_footer}"></footer>

<script th:src="@{/js/management/cards/cardForm.js}"></script>

</body>
</html>
