<!DOCTYPE html>
<!-- v2 -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: common_header(~{::title}, ~{::link})}">
    <title>기록소 - 스펠 카드</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/spellCardList.css}">
    <!-- 커스텀 css -->
</head>

<body>

<!-- 상단 네비게이션 바 -->
<nav th:replace="~{fragments/navbar :: common_navbar}">
    상단 네비게이션 바 영역
</nav>

<!-- 배너 이미지 -->
<div class="banner"></div>

<!-- 전체 레이아웃 -->
<div class="container-fluid">
    <div class="row">
        <!-- 좌측 탭 네비게이션 -->
        <nav class="col-md-3 col-lg-2 side-nav">
            <a th:href="@{/wiki/characters}">사도</a>
            <a th:href="@{/wiki/cards/artifact}">아티팩트 카드</a>
            <a th:href="@{/wiki/cards/spell}" class="active">스펠 카드</a>
        </nav>

        <!-- 우측 콘텐츠 -->
        <main class="col-md-9 col-lg-10 content">

            <!-- 필터링 섹션 -->
            <section id="filtering-options" class="d-flex justify-content-end align-items-center mb-3">
                <!-- 등급 필터링 (체크박스) -->
                <div class="me-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="legendaryFilter" value="legendary">
                        <label class="form-check-label" for="legendaryFilter">전설</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="rareFilter" value="rare">
                        <label class="form-check-label" for="rareFilter">희귀</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="advancedFilter" value="advanced">
                        <label class="form-check-label" for="advancedFilter">고급</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="normalFilter" value="normal">
                        <label class="form-check-label" for="normalFilter">일반</label>
                    </div>
                </div>
        
                <!-- 이름 검색창 -->
                <div class="me-3">
                    <label for="searchName" class="form-label visually-hidden">이름 검색</label>
                    <input type="text" class="form-control form-control-sm" id="searchName" placeholder="이름 검색" onkeyup="handleEnter(event)">
                </div>
        
                <!-- 검색 버튼 -->
                <button type="button" class="btn btn-primary btn-sm" onclick="filterItems()">검색</button>
            </section>

            <!-- 스펠 카드 목록 -->
            <section id="items" class="container mt-5">

                <h2 class="section-title">스펠 카드</h2>
                
                <div class="row" id="artifactList">

                    <!-- 스펠 카드 -->
                    <div th:each="card: ${cardList}" class="col-md-6 my-3 spell-item" th:data-grade="${{card.grade}}" th:data-name="${card.name}">
                        <div class="card card-custom">
                            <div class="card-body d-flex align-items-start">
                                <img th:src="@{ |${baseUrl}${card.id}| }"
                                     th:classappend="| ${{card.grade}}-border |"
                                     class="card-img-top spell-image"
                                     alt="아이템 1">
                                <div class="spell-content">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h5 th:text="${card.name}" class="card-title">전술 교본</h5>
                                        <div th:switch="${{card.grade}}" class="spell-info">
                                            등급:
                                            <span th:case="'legendary'" th:text="전설" th:classappend="| ${{card.grade}}-text |" class="me-3">카드 등급</span>
                                            <span th:case="'rare'" th:text="희귀" th:classappend="| ${{card.grade}}-text |" class="me-3">카드 등급</span>
                                            <span th:case="'advanced'" th:text="고급" th:classappend="| ${{card.grade}}-text |" class="me-3">카드 등급</span>
                                            <span th:case="'normal'" th:text="일반" th:classappend="| ${{card.grade}}-text |" class="me-3">카드 등급</span>

                                            코스트: <span th:text="${card.cost}" class="green-text">카드 비용</span>
                                        </div>
                                    </div>
                                    <p class="spell-stats">
                                        <th:block th:each="attribute: ${card.attributes}">
                                            <span th:text="|${attribute.attrName} ${attribute.attrValue}|" class="me-2">카드 능력치</span>
                                        </th:block>
                                    </p>

                                    <hr>

                                    <div th:text="${card.description}" class="spell-effect mb-3">카드 설명</div>
                                    <div th:text="${card.story}" class="spell-story">카드 이야기</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

        </main>
        
    </div>
</div>

<!-- 푸터 -->
<footer th:replace="~{fragments/footer :: common_footer}"></footer>

<script th:src="@{/js/spellCardList_wiki.js}" defer></script>

</body>
</html>
