<!DOCTYPE html>
<!-- v11 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: common_header(~{::title}, ~{::link})}">
    <title th:text="${notice.title}">공지사항 제목</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/noticeDetail.css}">
    <!-- 커스텀 css -->
</head>

<body>
    <!-- 상단 네비게이션 바 -->
    <nav th:replace="~{fragments/navbar :: common_navbar}">
        상단 네비게이션 바 영역
    </nav>

    <!-- 공지사항 상세 섹션 -->
    <section class="container my-5">

        <!-- 공지사항 제목과 본문을 같은 영역에 배치 -->
        <div class="notice-section">
            
        <!-- 공지사항 제목 및 메타 정보 -->
        <h1 class="notice-title" th:text="${notice.title}">[점검] 10월 3일(목) 정기점검 예정 안내</h1>

        <!-- 공지사항 정보 -->
        <div class="notice-meta d-flex justify-content-between">
            <!-- 작성자 정보 -->
            <span th:text="${notice.member.nickName}" class="me-auto">작성자 닉네임</span>
            
            <!-- 메타 정보 -->
            <div class="text-end">
                <span th:text="${#temporals.format(notice.date, 'yyyy-MM-dd')}" class="me-3">작성 날짜</span>
                <span class="me-3">|</span>
                <span class="me-3">조회수: <span th:text="${notice.views}">1234</span></span>
                <span class="me-3">|</span>
                <span th:switch="${{notice.category}}">카테고리:
                    <span th:case="'NOTICE'" th:text="공지">카테고리명</span>
                    <span th:case="'UPDATE'" th:text="업데이트">카테고리명</span>
                    <span th:case="'EVENT'" th:text="이벤트">카테고리명</span>
                    <span th:case="'DEV'" th:text="개발자노트">카테고리명</span>
                    <span th:case="*" th:text="기타">카테고리명</span>
                </span>
            </div>
        </div>
        
        <!-- 가로선 추가 -->
        <hr>

        <!-- 본문 상단에 배너 이미지를 가운데 정렬로 추가 -->
        <div class="text-center mb-4" th:switch="${{notice.category}}">
            <img th:case="'NOTICE'" th:src="@{/imgs/notice/DetailBanner1.png}" alt="공지사항 배너" class="notice-banner img-fluid">
            <img th:case="'UPDATE'" th:src="@{/imgs/notice/DetailBanner2.png}" alt="공지사항 배너" class="notice-banner img-fluid">
            <img th:case="'EVENT'" th:src="@{/imgs/notice/DetailBanner3.png}" alt="공지사항 배너" class="notice-banner img-fluid">
            <img th:case="'DEV'" th:src="@{/imgs/notice/DetailBanner4.png}" alt="공지사항 배너" class="notice-banner img-fluid">
            <img th:case="*" th:src="@{/imgs/notice/DetailBanner1.png}" alt="공지사항 배너" class="notice-banner img-fluid">
        </div>

        <!-- 공지사항 본문 -->
        <div class="notice-content">
            <p th:text="${notice.content}">
                공지사항 본문
            </p>
<!--            <img src="../images/notice-detail-sample.jpg" alt="공지사항 이미지" class="img-fluid mt-4" />-->
        </div>

        <!-- 공지사항 목록으로 돌아가는 버튼 -->
        <div class="text-end">
            <a href="/notices" class="btn btn-back">목록으로</a>
        </div>
    </div>
    </section>

    <footer th:replace="~{fragments/footer :: common_footer}">푸터 영역</footer>

</body>
</html>
