<!DOCTYPE html>
<!--/*[[ v13 ]]*/-->
<!--/*[[공지사항별 이미지 경로 추가, 캐릭터 이미지 (초상화, 프로필, 스킨 등) 경로 설계]]*/-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: common_header(~{::title}, ~{::link})}">
    <title th:text="|#{notice.title} - #{page.title}|">공지사항</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/notice/noticeList.css}">
    <!--/*[[ 커스텀 css ]]*/-->
</head>

<body>
    <!--/*[[ 상단 네비게이션 바 ]]*/-->
    <nav th:replace="~{fragments/navbar :: common_navbar}">
        상단 네비게이션 바 영역
    </nav>

    <!--/*[[ 표지 이미지 섹션 ]]*/-->
    <section class="cover-section"></section>

    <!--/*[[ 메인 콘텐츠 영역 ]]*/-->
    <div class="container container-main main-content mt-4">

        <!--/*[[ 공지사항 리스트 섹션 ]]*/-->
        <div class="notice-list-section">

            <!--/*[[ 공지사항 제목 ]]*/-->
            <h2 class="text-center mb-5" th:text="#{notice.list.title}">새소식 및 공지사항</h2>

            <div class="notice-search d-flex justify-content-end mb-3">
                <form class="d-flex w-30" method="get" th:action="@{/{lang}/notices (lang=${language})}">
                    <input type="text" name="query" class="form-control form-control-sm" th:placeholder="#{notice.list.search.placeholder}" th:value="${query}">
                    <input type="hidden" name="category" class="form-control" th:value="${curCategoryId}">
                    <button class="btn btn-sm btn-primary ms-2" type="submit" th:text="#{notice.list.search.button}">검색</button>
                </form>
            </div>

            <!--/*[[ 공지사항 목록 ]]*/-->
            <div class="row d-flex flex-nowrap justify-content-between">

                <!--/*[[ 카테고리 필터링 메뉴 ]]*/-->
                <div class="category-menu col-3 me-3">
                    <h5 th:text="#{notice.category}">카테고리</h5>
                    <ul>
                        <li class="nav-item">
                            <a class="nav-link"
                               th:href="@{/{lang}/notices (lang=${language})}"
                               th:text="#{notice.list.all}"
                               th:classappend="${curCategoryId == null} ? 'active'">전체</a>
                        </li>
                        <li class="nav-item" th:each="category : ${categoryList}">
                            <a class="nav-link"
                               th:classappend="${curCategoryId == category.id} ? 'active'"
                               th:href="@{/{lang}/notices (lang=${language}, category=${category.id})}"
                               th:text="${category.name}">
                                <!-- 카테고리 이름 -->
                            </a>
                        </li>
                    </ul>
                </div>

                <!--/*[[ 모바일에서는 select 태그를 이용한 카테고리 선택 ]]*/-->
                <div class="category-dropdown d-block d-md-none">
                    <select class="form-select form-select-sm" id="categorySelect" th:data-lang="${language}">
                        <option value="" th:text="#{notice.list.all}" th:selected="${curCategoryId == null}">전체</option>
                        <option th:each="category : ${categoryList}"
                                th:value="${category.id}"
                                th:text="${category.name}"
                                th:selected="${curCategoryId == category.id}">
                        </option>
                    </select>
                </div>

                <div class="col-9">
                    <ul class="list-unstyled">

                        <li class="notice-item" th:each="notice : ${noticeList}">

                            <!-- 썸네일 -->
                            <div class="thumbnail-container">
                                <img th:src="@{ |${noticeBaseUrl}${notice.id}/${notice.thumbnailFileName}| }" alt="썸네일" class="notice-thumbnail">
                            </div>

                            <!--/*[[ 제목 및 날짜 ]]*/-->
                            <div class="notice-content">
                                <a th:href="@{ /{lang}/notices/{id} (lang=${language}, id=${notice.id}) }"
                                   class="notice-title"
                                   th:text="|[${notice.category.name}] ${notice.title}|"> 공지사항 제목 </a>

                                <div class="notice-date" th:text="${#temporals.format(notice.date, 'yyyy-MM-dd')}"> 날짜 </div>
                            </div>

                        </li>

                    </ul>
                </div>

            </div>


            <!--/*[[ 페이징 UI ]]*/-->
            <div>
                <!--/*[[ Bootstrap Pagination ]]*/-->
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <!--/*[[ 이전 버튼 ]]*/-->
                        <li class="page-item" th:classappend="${!page.hasPrevious()} ? 'disabled'">
                            <a class="page-link" th:href="@{/{lang}/notices (lang=${language}, page=${(page.number+1) - 1})}" aria-label="Previous">
                                <span aria-hidden="true"> << </span>
                            </a>
                        </li>

                        <!--/*[[ 페이지 번호 버튼 ]]*/-->
                        <li class="page-item" th:each="pageNum : ${#numbers.sequence(startPage, endPage)}"
                            th:classappend="${(pageNum-1) == page.number} ? 'active' : ''">
                            <a class="page-link" th:href="@{/{lang}/notices (lang=${language}, page=${pageNum})}" th:text="${pageNum}"></a>
                        </li>

                        <!--/*[[ 다음 버튼 ]]*/-->
                        <li class="page-item" th:classappend="${!page.hasNext()} ? 'disabled'">
                            <a class="page-link" th:href="@{/{lang}/notices (lang=${language}, page=${(page.number+1) + 1})}" aria-label="Next">
                                <span aria-hidden="true"> >> </span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <!--/*[[ 뒤로가기 버튼 ]]*/-->
            <div class="text-center">
              <a th:href="@{/{lang} (lang=${language})}" class="btn btn-back" th:text="#{notice.back}">메인으로 돌아가기</a>
            </div>
        </div>

    </div>

    <footer th:replace="~{fragments/footer :: common_footer}"></footer>

    <script th:src="@{/js/notice/noticeList.js}"></script>

</body>

</html>
