<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<!-- 상단 네비게이션 바 -->
<nav th:fragment="common_mg_navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/management/dashBoard}">관리자 대시보드</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/management/notices}">공지사항 관리</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/management/characters}">캐릭터 관리</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/management/cards}">카드 관리</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{management/skins}">스킨 관리</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" th:href="@{/}">사이트 홈으로 이동</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/management/logout}">로그아웃</a></li>
      </ul>

    </div>
  </div>
</nav>

</body>

</html>