<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: management_header(~{::title}, ~{::link})}">
    <title>관리자 대시보드</title>
    <link rel="stylesheet" th:href="@{/css/management/commonStyle.css}">
    <link rel="stylesheet" th:href="@{/css/management/dashBoard.css}">
    <!--/*[[ 커스텀 css ]]*/-->
</head>

<!--/*[[TODO - 메인화면 관리 기능 추가 (상단 노출 공지사항 등)]]*/-->

<body>
    <!--/*[[ 상단 네비게이션 바 ]]*/-->
    <nav th:replace="~{fragments/navbar :: management_navbar}">
        상단 네비게이션 바 영역
    </nav>

    <div class="container-fluid mt-3 main-content">
        <div class="row">

            <!--/*[[ 사이드바 ]]*/-->
            <nav class="sidebar col-md-3 col-lg-2 d-md-block bg-light ms-2">

                <!--/*[[ 사용자 정보 표시 영역 ]]*/-->
                <div class="user-info text-center p-3">
                    안녕하세요. <br>
                    <span class="fw-bold" th:text="|${member.nickName}|">사용자명</span>님!

                    <!--/*[[ 내 정보 관리 링크 ]]*/-->
                    <div>
                        <a th:href="@{/management/members/profile/{id} (id=${member.id})}" class="text-primary text-decoration-underline mt-1 d-inline-block">
                            내 정보 관리
                        </a>
                    </div>

                </div>

                <div class="position-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="nav-link active" th:href="@{/management/notices}">공지사항 관리</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/management/characters}">캐릭터 관리</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/management/cards}">카드 관리</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/management/skins}">스킨 관리</a></li>
                        <li th:if="${member.role.name() == 'SUPER'}" class="nav-item"><a class="nav-link" th:href="@{/management/members}">회원 관리</a></li>
                    </ul>
                </div>

            </nav>

            <!--/*[[ 메인 컨텐츠 ]]*/-->
            <main class="col-md-7 mx-auto col-lg-9 px-md-4">
                <h2 class="mt-4 mb-2 text-center">대시보드</h2>
                <div class="row">
                    <div class="col-md-6 col-lg-3 mb-4">
                        <a th:href="@{/management/notices}" class="card text-white bg-info">
                            <div class="card-body">
                                <h5 class="card-title">공지사항 관리</h5>
                                <p class="card-text">공지사항을 추가, 수정, 삭제할 수 있습니다.</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-4">
                        <a th:href="@{/management/characters}" class="card text-white bg-primary">
                            <div class="card-body">
                                <h5 class="card-title">캐릭터 관리</h5>
                                <p class="card-text">캐릭터를 추가, 수정, 삭제할 수 있습니다.</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-4">
                        <a th:href="@{/management/cards}" class="card text-white bg-success">
                            <div class="card-body">
                                <h5 class="card-title">카드 관리</h5>
                                <p class="card-text">카드를 추가, 수정, 삭제할 수 있습니다.</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-4">
                        <a th:href="@{/management/skins}" class="card text-white bg-warning">
                            <div class="card-body">
                                <h5 class="card-title">스킨 관리</h5>
                                <p class="card-text">스킨을 추가, 수정, 삭제할 수 있습니다.</p>
                            </div>
                        </a>
                    </div>
                </div>
            </main>

        </div>
    </div>

    <!--/*[[ 하단 푸터 ]]*/-->
    <footer th:replace="~{fragments/footer :: management_footer}">
        하단 푸터 영역
    </footer>

</body>
</html>
