<!DOCTYPE html>
<!-- v18 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: management_header(~{::title}, ~{::link})}">
    <title>캐릭터 추가</title>
    <link rel="stylesheet" th:href="@{/css/management/commonStyle.css}">
    <link rel="stylesheet" th:href="@{/css/management/charAddForm.css}">
    <!-- 커스텀 css -->
</head>

<body>

<!-- 상단 네비게이션 바 -->
<nav th:replace="~{fragments/navbar :: management_navbar}">
    상단 네비게이션 바 영역
</nav>

<div class="container mt-5 main-content">

    <div class="form-section">

        <h2 class="form-title">캐릭터 추가(4 of 4)</h2>

        <form th:object="${chForm}" th:action="@{/management/characters/new/step4}" method="post" enctype="multipart/form-data">

            <!-- 어사이드 그룹 -->
            <div class="info-group mb-4">

                <div class="info-title" data-bs-toggle="collapse" data-bs-target="#asideSection" aria-expanded="true">
                    <span>어사이드</span>
                    <i class="fas fa-angle-left toggle-icon"></i>
                </div>

                <div id="asideSection" class="collapse show">
                    <hr>
                    <!-- 1. 어사이드 정보 -->
                    <div class="info-subgroup mb-3 mt-3">
                        <h4 class="form-subtitle">어사이드 정보</h4>
                        
                        <!-- 어사이드 이미지 -->
                        <div class="row align-items-center">
                            <div class="col-md-3 text-center">
                                <label for="asideImage" class="form-label">이미지</label>
                                <div class="image-upload-wrapper">
                                    <img id="asideImagePreview1" th:src="${asideImageUrl}"
                                        alt="이미지 미리보기" class="img-thumbnail">
                                    <input th:field="*{asideImage}" type="file" id="asideImage" name="asideImage" class="form-control d-none"
                                        accept="image/*" onchange="previewImage(this)">
                                </div>
                            </div>
                
                            <div class="col-md-9">
                                <div class="mb-3">
                                    <label for="asideName" class="form-label">어사이드 이름</label>
                                    <input th:field="*{asideName}" type="text" id="asideName" name="asideName" class="form-control" placeholder="이름을 입력하세요">
                                </div>
                
                                <div class="mb-3">
                                    <label for="asideDescription" class="form-label">어사이드 설명</label>
                                    <textarea th:field="*{asideDescription}" id="asideDescription" name="asideDescription" class="form-control auto-resize" placeholder="설명을 입력하세요"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                
                    <!-- 2. 어사이드 1단계 -->
                    <div class="info-subgroup mb-3">
                        <h4 class="form-subtitle">어사이드 1단계</h4>
                        <!-- 이미지 -->
                        <div class="row align-items-center">
                            <div class="col-md-3 text-center">
                                <label for="asideLv1Image" class="form-label">이미지</label>
                                <div class="image-upload-wrapper">
                                    <img id="aside1ImagePreview" th:src="${asideLv1ImageUrl}"
                                        alt="이미지 미리보기" class="img-thumbnail">
                                    <input th:field="*{asideLv1Image}" type="file" id="asideLv1Image" name="asideLv1Image" class="form-control d-none"
                                        accept="image/*" onchange="previewImage(this)">
                                </div>
                            </div>
                
                            <div class="col-md-9">
                                <div class="mb-3">
                                    <label for="asideLv1Name" class="form-label">어사이드 1단계 이름</label>
                                    <input th:field="*{asideLv1Name}" type="text" id="asideLv1Name" name="asideLv1Name" class="form-control" placeholder="이름을 입력하세요">
                                </div>
                
                                <div class="mb-3">
                                    <label for="asideLv1Description" class="form-label">어사이드 설명</label>
                                    <textarea th:field="*{asideLv1Description}" id="asideLv1Description" name="asideLv1Description" class="form-control auto-resize" placeholder="효과를 입력하세요"></textarea>
                                </div>
                            </div>
                        </div>
                
                        <label class="form-label">특성</label>
                        <div id="aside1-attributes-container">
                            <div th:each="attribute, stat : *{asideLv1Attributes}" class="d-flex align-items-center mb-2 attribute-input-container">
                                <input type="text" th:field="*{asideLv1Attributes[__${stat.index}__].attrName}" name="attribute-name" class="form-control me-2 attribute-name" placeholder="특성 이름">
                                <input type="text" th:field="*{asideLv1Attributes[__${stat.index}__].attrValue}" name="attribute-value" class="form-control me-2 attribute-value" placeholder="특성 수치">
                                <button type="button" class="btn btn-success btn-add-aside1-attribute">+</button>
                                <button type="button" class="btn btn-danger btn-remove-aside1-attribute">-</button>
                            </div>
                        </div>
                    </div>
                
                    <!-- 3. 어사이드 2단계 -->
                    <div class="info-subgroup mb-3">
                        <h4 class="form-subtitle">어사이드 2단계</h4>
                        <!-- 이미지 -->
                        <div class="row align-items-center">
                            <div class="col-md-3 text-center">
                                <label for="asideLv2Image" class="form-label">이미지</label>
                                <div class="image-upload-wrapper">
                                    <img id="aside2ImagePreview" th:src="${asideLv2ImageUrl}"
                                        alt="이미지 미리보기" class="img-thumbnail">
                                    <input th:field="*{asideLv2Image}" type="file" id="asideLv2Image" name="asideLv2Image" class="form-control d-none"
                                        accept="image/*" onchange="previewImage(this)">
                                </div>
                            </div>
                
                            <div class="col-md-9">
                                <div class="mb-3">
                                    <label for="asideLv2Name" class="form-label">어사이드 2단계 이름</label>
                                    <input th:field="*{asideLv2Name}" type="text" id="asideLv2Name" name="asideLv2Name" class="form-control" placeholder="이름을 입력하세요">
                                </div>
                
                                <div class="mb-3">
                                    <label for="asideLv2Description" class="form-label">어사이드 설명</label>
                                    <textarea th:field="*{asideLv2Description}" id="asideLv2Description" name="asideLv2Description" class="form-control auto-resize" placeholder="설명을 입력하세요"></textarea>
                                </div>
                            </div>
                        </div>
                
                        <label class="form-label">특성</label>
                        <div id="aside2-attributes-container">
                            <div th:each="attribute, stat : *{asideLv2Attributes}" class="d-flex align-items-center mb-2 attribute-input-container">
                                <input type="text" th:field="*{asideLv2Attributes[__${stat.index}__].attrName}" name="attribute-name" class="form-control me-2 attribute-name" placeholder="특성 이름">
                                <input type="text" th:field="*{asideLv2Attributes[__${stat.index}__].attrValue}" name="attribute-value" class="form-control me-2 attribute-value" placeholder="특성 수치">
                                <button type="button" class="btn btn-success btn-add-aside2-attribute">+</button>
                                <button type="button" class="btn btn-danger btn-remove-aside2-attribute">-</button>
                            </div>
                        </div>
                    </div>
                
                    <!-- 4. 어사이드 3단계 -->
                    <div class="info-subgroup mb-3">
                        <h4 class="form-subtitle">어사이드 3단계</h4>
                        <!-- 이미지 -->
                        <div class="row align-items-center">
                            <div class="col-md-3 text-center">
                                <label for="asideLv3Image" class="form-label">이미지</label>
                                <div class="image-upload-wrapper">
                                    <img id="asideImagePreview4" th:src="${asideLv3ImageUrl}"
                                        alt="이미지 미리보기" class="img-thumbnail">
                                    <input th:field="*{asideLv3Image}" type="file" id="asideLv3Image" name="asideLv3Image" class="form-control d-none"
                                        accept="image/*" onchange="previewImage(this)">
                                </div>
                            </div>
                
                            <div class="col-md-9">
                                <div class="mb-3">
                                    <label for="asideLv3Name" class="form-label">어사이드 3단계 이름</label>
                                    <input th:field="*{asideLv3Name}" type="text" id="asideLv3Name" name="asideLv3Name" class="form-control" placeholder="이름을 입력하세요">
                                </div>
                
                                <div class="mb-3">
                                    <label for="asideLv3Description" class="form-label">어사이드 설명</label>
                                    <textarea th:field="*{asideLv3Description}" id="asideLv3Description" name="asideLv3Description" class="form-control auto-resize" placeholder="효과를 입력하세요"></textarea>
                                </div>
                            </div>
                        </div>
                
                        <label class="form-label">특성</label>
                        <div id="aside3-attributes-container">
                            <div th:each="attribute, stat : *{asideLv3Attributes}" class="d-flex align-items-center mb-2 attribute-input-container">
                                <input type="text" th:field="*{asideLv3Attributes[__${stat.index}__].attrName}" name="attribute-name" class="form-control me-2 attribute-name" placeholder="특성 이름">
                                <input type="text" th:field="*{asideLv3Attributes[__${stat.index}__].attrValue}" name="attribute-value" class="form-control me-2 attribute-value" placeholder="특성 수치">
                                <button type="button" class="btn btn-success btn-add-aside3-attribute">+</button>
                                <button type="button" class="btn btn-danger btn-remove-aside3-attribute">-</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- 폼 제출 버튼 -->
            <div class="button-group d-flex justify-content-between mt-4">
                <!-- 이전 버튼 -->
                <button type="submit" name="action" value="prev" class="btn btn-secondary">이전으로</button>
                <!--                <a th:href="@{/management/characters/new/step1}" class="btn btn-secondary">이전으로</a>-->

                <!-- "저장" 버튼 -->
                <button type="submit" name="action" value="save" class="btn btn-secondary">저장</button>

                <!-- "다음 단계" 버튼 -->
                <button type="submit" name="action" value="next" class="btn btn-primary">다음 단계로</button>
            </div>

        </form>

    </div>

</div>

<!-- 하단 푸터 -->
<footer th:replace="~{fragments/footer :: management_footer}">
    하단 푸터 영역
</footer>

<script th:src="@{/js/management/charAddFormCommon.js}"></script>
<script th:src="@{/js/management/charAddFormStep4.js}"></script>

</body>

</html>
