
.card {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.card-body {
  pointer-events: none;
}

.card-img-top {
    height: 150px;
    object-fit: contain;
    background-color: #f8f9fa; /* 빈 공간을 보완하기 위해 배경색 추가 */
}


