
/* 공통 폼 섹션 스타일 */
.form-section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.form-title {
    font-size: 1.75rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.info-group {
    border: 2px solid #4CAF50;
    border-radius: 10px;
    padding: 20px;

    /* v18 추가 */
    margin-bottom: 20px;
    background-color: #ffffff;
}

.info-subgroup {
    border: 2px solid #4CAF50;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    /* background-color: #ffffff; */
    background-color: #f9f9f9; /* 미묘한 배경색 추가 */
}

.info-subgroup.optional-info {
    border: 2px solid #0d6efd;
}

.info-title {
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label {
    font-weight: bold;
}

textarea.auto-resize {
    min-height: 40px;
    overflow: hidden;
    resize: none;
}

/* 카드 추가 폼 전용 스타일 */
.card-form-group {
    border: 2px solid #4CAF50;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

.card-form-title {
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-toggle-icon {
    font-size: 1.5rem;
    transition: transform 0.3s;
}

.card-toggle-icon.open {
    color: #4CAF50;
}

.card-toggle-icon.closed {
    color: #FF5733;
}

/* 카드 입력 필드 */
.card-field {
    margin-bottom: 15px;
}

.card-select,
.card-input,
.card-textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.card-textarea {
    height: 80px;
}

.card-file-upload {
    margin-top: 10px;
}

.card-btn-submit {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.card-btn-submit:hover {
    background-color: #45A049;
}

/* 특성 입력란 스타일 */
.attribute-name {
    max-width: 50%; /* 특성 이름의 너비 조절 */
}

.attribute-value {
    max-width: 25%; /* 특성 수치의 너비를 줄여 공간 확보 */
}

.attribute-input-container button {
    width: 32px; /* 버튼의 가로 크기를 작게 조정 */
    height: 32px; /* 버튼의 높이도 조정하여 일관성 유지 */
    padding: 0; /* 버튼 내부 여백 제거 */
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px; /* 더 명확한 크기의 기호 */
}

.image-upload-wrapper {
    position: relative;
    width: 120px; /* 이미지 크기 조정 */
    /* height: 120px; */
    height: auto;
    margin: 0 auto;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    .card-form-group {
        padding: 15px;
    }

    .card-btn-submit {
        width: 100%;
    }
}
