
.card {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s, box-shadow 0.2s;
}

/* 카드 스타일 */
.card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.card-body {
    flex-grow: 1;
    pointer-events: none;
}

.card-title {
    font-size: 1rem; /* 글자 크기를 줄여서 높이 감소 */
    margin-bottom: 0.25rem; /* 제목 아래 여백 축소 */
}

.card-text {
    font-size: 0.875rem; /* 글자 크기를 줄임 */
    margin: 0; /* 불필요한 마진 제거 */
}

.card-img-top {
    /* height: 300px; */
    height: 70%;
    object-fit: contain;
    background-color: #f8f9fa; /* 빈 공간을 보완하기 위해 배경색 추가 */
}

/* 카드 이미지 우측의 모든 콘텐츠 내용 */
button {
    font-size: 1.5vw; /* 뷰포트 너비의 2%에 해당하는 크기 */
}


