
.card {
    /* width: 20%; */
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s, box-shadow 0.2s;
}

/* 카드 스타일 */
.card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.card-body {
  pointer-events: none;
}

.card-img-top {
    height: 300px;
    object-fit: contain;
    background-color: #f8f9fa; /* 빈 공간을 보완하기 위해 배경색 추가 */
}

/* 카드 이미지 우측의 모든 콘텐츠 내용 */
.card-title {
    font-size: 1.2rem; /* 아이템 이름의 글씨 크기 */
    margin: 0;
}

/* 카드 설명 */
.spell-story {
    color: #555; /* 효과 설명 텍스트 색상 */
}

/* 콘텐츠 스타일 */
.content {
    padding: 20px;
}

.green-text {
    color: #4CAF50;
}

