
.card {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s, box-shadow 0.2s;
}

/* 카드 스타일 */
.card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.card-body {
    flex-grow: 1;
    pointer-events: none;
}

.card-title {
    font-size: 1rem; /* 글자 크기를 줄여서 높이 감소 */
    margin-bottom: 0.25rem; /* 제목 아래 여백 축소 */
}

.card-text {
    font-size: 0.875rem; /* 글자 크기를 줄임 */
    margin: 0; /* 불필요한 마진 제거 */
}

.card-img-top {
    /* height: 300px; */
    height: 70%;
    object-fit: contain;
    background-color: #f8f9fa; /* 빈 공간을 보완하기 위해 배경색 추가 */
}

button {
    font-size: 0.875rem; /* 글자 크기를 고정된 단위로 설정 */
    white-space: nowrap; /* 텍스트가 줄 바뀌지 않도록 설정 */
    padding: 0.25rem 0.5rem; /* 버튼 내부 여백 조정 */
    display: inline-flex; /* 플렉스 정렬 사용 */
    align-items: center; /* 텍스트 수직 중앙 정렬 */
    justify-content: center; /* 텍스트 수평 중앙 정렬 */
}


